.footer.hide-for-small-only
	.tagline
		em.show-for-large-up
		| Counteracting the counterfeit by proclaiming the three angels' messages of Revelation 14:6-12 to the world.
	.row
		ul.no-bullet
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Networks
					li
						a(href='http://3abn.org/networks/3abn-tv/') 3ABN
					li
						a(href='http://3abnkids.tv/') 3ABN Kids Network
					li
						a(href='http://3abnlatino.org/') 3ABN Latino
					li
						a(href='http://3abn.org/networks/3abn-proclaim/') 3ABN Proclaim!
					li
						a(href='http://3abn.org/networks/3abn-radio/') 3ABN Radio
					li
						a(href='http://english.3angels.ru/') 3ABN Russia
					li
						a(href='http://d2dnetwork.tv/') Dare to Dream
					li
						a(href='http://3abn.org/schedule/') Schedules
					li
						a(href='http://3abn.org/networks/satellite/') Satellite System
					li
						a(href='http://3abn.org/networks/third-party-carriers/') Third-Party Carriers
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Donate
					li
						a(href='http://3abn.org/auto_billing/index.html') Automatic Monthly Donations
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=PROD&Store_Code=3ABN&Product_Code=DONATION&Attributes=Yes&Quantity=1') Donate Online
					li
						a(href='http://3abn.org/donate/donation-center/') Donation Center
					li
						a(href='http://3abn.org/planned-giving/') Planned Giving
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Information
					li
						a(href='http://3abn.org/information/about/') About Us
					li
						a(href='http://3abn.org/contact/') Contact Us
					li
						a(href='http://3abn.org/information/faq/') Help/FAQ
					li
						a(href='http://3abn.org/information/3abn-subscriptions-free-offers/') Subscriptions & Free Offers
					li
						a(href='http://3abn.org/information/jobs/') Job Opnenings
					li
						a(href='http://3abn.org/sitemap/') Site Map
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Pastoral
					li
						a(href='http://3abn.org/pastoral/online-bible-studies/') Online Bible Studies
					li
						a(href='http://3abn.org/pastoral/bible-study-resources/') Quick Studies
					li
						a(href='http://3abn.org/pastoral/devotionals/') Devotionals
					li
						a(href='http://3abn.org/pastoral/prayer-request/') Prayer Requests
					li
						a(href='http://3abn.org/pastoral/prayer-warriors/') Be a Prayer Warrior
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Features
					li
						a(href='http://3abn.org/3abn-kids/') Kids
					li
						a(href='http://3abn.org/recipes/') Recipes
				ul
					li
						h4.subheader News
					li
						a(href='http://3abn.org/sections/news/3abn-world-magazine/') 3ABN World
					li
						a(href='http://3abn.org/sections/news/events/') Live Events
					li
						a(href='http://3abn.org/sections/news/speaking-engagements/') Speakers
			li.small-6.medium-2.columns
				ul
					li
						h4.subheader Store
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=AUDIO') Audio Books
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=BOOKS') Books
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=CLOTHING') Clothing
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=PROGRAMS') DVDs
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=KIDS') Kids' Items
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=MUSIC') Music
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=SOUNDTRACKS') Music Tracks
					li
						a(href='http://tienda.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN-LATINO&Category_Code=FEATURED') Spanish
					li
						a(href='http://store.3abn.org/merchant2/merchant.mvc?Screen=CTGY&Store_Code=3ABN&Category_Code=SERIES') TV Series


.contact-line-bg.hide-for-small-only
.row.contact-line.hide-for-small-only
	.show-for-large-up
	| © 2015 Three Angels Broadcasting Network

